dictionaries/valid/openVirus_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="desc" maxOccurs="unbounded" minOccurs="1"/>
        <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="synonym" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <!--
                      <xs:attribute ref="xml:lang" use="optional"/>
                    -->
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="description" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="_p31_instanceOf" use="optional"/>
            <xs:attribute type="xs:string" name="_p117_structural_diagram" use="optional"/>
            <xs:attribute type="xs:string" name="_p297_country" use="optional"/>
            <xs:attribute type="xs:string" name="_p494_icd10code" use="optional"/>
            <xs:attribute type="xs:string" name="_p828_hasCause" use="optional"/>
            <xs:attribute type="xs:string" name="_p3153_crossrefFunderId" use="optional"/>

            <xs:attribute type="xs:string" name="description"/>
            <xs:attribute type="xs:string" name="name"/>
            <xs:attribute type="xs:string" name="term"/>
            <xs:attribute name="wikidataURL" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="https?\://www\.wikidata\.org/(wiki|entity)/[P|Q]\d+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute  name="wikipediaPage" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^/\s]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute  name="wikipediaURL" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="https?\://[a-z]+\.wikipedia\.org/wiki/.+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="wikidataID" use="optional">
              <xs:simpleType >
                <xs:restriction base="xs:token">
                  <xs:pattern value="[Q|P]\d+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="title"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
